body {
  font-family: 'Roboto', sans-serif;
  color: white;
  background: url('https://images.unsplash.com/photo-1507150080056-79542bdb9c59?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3439d3b29c7dfe0ab707999921341009&auto=format&fit=crop&w=1350&q=80') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
}

#bike-finder {
  font-size: 80px;
}

#search {
  display: none;
}
